@import "/src/assets/colors.scss";

.container {
    animation: 500ms fadeIn forwards;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85rem;
    margin: auto;
    margin-top: 3rem;
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        color: $green;
    }
    > div {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 2rem;
        background-color: $grey;
    }
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        max-height: 30vh;
        overflow: auto;
        width: 100%;
        li {
            width: 20%;
            max-width: 20%;
            height: auto;
            position: relative;
            padding: 1rem;
            img {
                width: 100%;
                height: auto;
            }
        }
        h4 {
            margin-bottom: 0.5rem;
            margin-top: 0;
        }
        
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $black;
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $grey;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
