@import '/src/assets/colors.scss';

.container {
    animation: 500ms fadeIn forwards;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85rem;
    margin: auto;
    width: 100%;
    margin-top: 3rem;
    h2 {
        font-size: 2.5rem;
    }
    > div {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 2rem;
        background-color: $grey;
        form {
            display: flex;
            flex-direction: column;
            .row {
                display: flex;
                justify-content: space-between;
                input, select {
                    max-width: 48%;
                    box-sizing: border-box;
                }
            }
        }
        input, textarea, select {
            font-size: 1.2rem;
            font-family: BebasNeue;
            background-color: transparent;
            border: 3px solid $black;
            outline: none;
            resize: none;
            padding: .5rem;
            margin: 1rem 0;
            width: 100%;
            letter-spacing: .1rem;
        }
        textarea {
            &::placeholder {
                font-family: BebasNeue;
            }
            font-family: Avenir, Arial, Helvetica, sans-serif;
            height: 10rem;
            box-sizing: border-box;
        }
    }
    display: flex;
    button {
        cursor: pointer;
        &:hover, &:focus {
            color: $grey;
            background-color: $black;
        }
        background-color: transparent;
        border: 3px solid $black;
        outline: none;
        width: auto;
        margin-left: auto;
        padding: .25rem .5rem;
        font-family: BebasNeue;
        font-size: 1.2rem;
        letter-spacing: .05rem;
    }
    .sendContainer {
        width: 100%;
        display: flex;
        > span {
            text-indent: .5rem;
        }
        align-items: center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

